@font-face {
    font-family: 'socicon';
    src: url('socicon-webfont.eot');
    src: url('socicon-webfont.eot?#iefix') format('embedded-opentype'),
         url('socicon-webfont.woff') format('woff'),
         url('socicon-webfont.ttf') format('truetype'),
         url('socicon-webfont.svg#sociconregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.socicon {
    font-family: 'socicon' !important;
    vertical-align:middle;
    padding:5px;
    margin-right:5px;
    margin-left:5px;
    border-radius:100px;
}

a.socicon:hover {
  background-color:black;
  color:#FDFCD9;
}