---
title: Caffe Frascati
layout: overlay
slideshow: Yes
description: Caffe Frascati is like a little taste of Italy right in the heart of downtown San Jose. We want to bring you the best cappuccino outside of Rome and the tasty panini you can enjoy in the villages that dot the Umbrian countryside. And, to make things better, we're just around the corner. Come and sip one of our famous cappuccinos, try one of our tasty paninis, experience some live music, or just enjoy happy hour with friends after a long day at work. Cappuccino, Musica, Birra e Vino. BRAVO!
images:
  - slideshow/cafe1.jpg
  - slideshow/cafe2.jpg
  - slideshow/cafe3.jpg
  - slideshow/cafe4.jpg
  - slideshow/cafe5.jpg
  - slideshow/cafe6.jpg
  - slideshow/Mauricio.jpg
  - slideshow/Harry-Mathias.jpg
---

<a class="featurelink" href="{{ site.baseurl }}/musica">
  <div id="col1">
    <div id="featured-date">
    </div>
    <div id="featured-event">
    </div>
  </div>
</a>

{% include gcal-small.html %}
    
<div class="slideshow frontpage" data-showduration="3s" data-fadeduration="1s">
  {% for image in page.images %}
    {% if forloop.last %}
      <img src="{{ image }}" />
    {% else %}
      <img data-slidesrc="{{ image }}" />
    {% endif %}
  {% endfor %}
</div>
