---
---
@import url('{{ site.baseurl }}/webfonts/MyFontsWebfontsKit.css');
@import url('//fonts.googleapis.com/css?family=Montserrat:400,700');

body {
  background-color:black;
  color:#FDFCD9;
  font-family: 'Montserrat', sans-serif;
}



a {
  text-decoration:none;
  color:#C41130;
}

#container {
  display:block;
  max-width:940px;
  margin-right:auto;
  margin-left:auto;
}

/* HEADER */

#logo {
    max-width:940px;
}

#logo img {
    display:block;
    width:200px;
    margin-right:auto;
    margin-left:auto;
}

/* NAVIGATION */

#navigation, #footer {
  display:block;
  width:100%;
}

#navigation ul {
  text-align:center;
  border-bottom:1px solid #595A5B;
  padding-left:0px;
}

#navigation li {
  display:inline-block;
  text-align:center;
  padding-bottom:12px;
}

#navigation li:last-child {
  border-right:0;
}

#navigation li a:hover {
  color:#FDFCD9;
}

a.featurelink:hover {
  color:#FDFCD9;
}

#navigation a {
  padding-left:40px;
  padding-right:40px;
  padding-bottom:12px;
  padding-top:12px;
}

/* MAIN CONTENT */

h1 {
  color:#C41130;
  padding:0;
  margin:0;
  margin-bottom:12px;
  font-family: 'TradeGothicLTCom-BdCn20', sans-serif;
}

#col1 {
  display:block;
  vertical-align:top;
  padding-top:15px;
  padding-right:15px;
  padding-left:15px;
  padding-bottom:8px;
  width:300px;
  text-transform:uppercase;
  font-family: 'TradeGothicLTCom-BdCn20', sans-serif;
  position:absolute; /* for overlay */
  z-index:20;
  background-color: rgba(0, 0, 0, 0.6); /* for overlay */
  margin:10px;
  left:1;
}

@media only screen and (max-device-width:480px) {
    #col1 {
        width:200px;
    }
}

hr {
  border:none;
  border-top: 1px solid #595A5B;
}

/* GOOGLE CALENDAR EVENTS */

#gcal-events {
  margin-top:12px;
  max-width:540px;
  float:left;
  overflow-y:scroll;
  height:470px;
}

.event {
    display:block;
    padding:5px;
    vertical-align:top;
    font-weight:400;
}

.event-title {
    font-weight:normal;
    text-transform:uppercase;
    float:left;
    color:#C41130;
    font-size:14pt;
    font-family: 'TradeGothicLTCom-BdCn20', sans-serif;
    letter-spacing:1px;
}

.event-date {
  clear:both;
}

.event-content {
    padding-left:15px;
    clear:both;
}

.event:first-child {
    border:1px solid #595A5B;
}

.cal-links {
  margin-left:18px;
}

.cal-links.first {
  margin-left:0px;
}

a.cal-links:hover {
  color:#FDFCD9;
}

/* MENU PAGE */

img.fullwidth {
  width:100%;
}

.feature {
  color:#C41130;
  font-size:12pt;
  margin-bottom:10px;
  border-bottom:1px solid #595A5B;
  padding-bottom:10px;
  padding-top:10px;
}

.feature > div {
    margin-bottom:10px;
}

/* SIDE-IMAGE SLIDESHOW */

h2 {
  padding:0;
  margin:0;
  display:inline;
  font-size:18pt;
  font-style:italic;
  letter-spacing:1px;
  font-weight:normal;
  font-family: 'TradeGothicLTCom-BdCn20', sans-serif;
}

div.slideshow {
  width:390px;
  margin-right:10px;
  height:500px;
  overflow:hidden;
  float:left;
  position:relative;
  left:0;
  margin-bottom:20px;
}

div.slideshow img {
  position:absolute;
  min-width:390px;
}

.hidden-slide {
  visibility: hidden;
}

/* FRONTPAGE SLIDESHOW */

div.slideshow.frontpage img {
  min-height:402px;
  min-width:100%;
}

div.slideshow.frontpage {
  width:100%;
  height:402px;
}

.right p, .right img {
  width:940px;
  margin:0;
  padding:0;
  padding-bottom:12px;
}

.right img {
    width:540px;
    margin-bottom:12px;
    margin-right:auto;
    margin-left:auto;
}

div.staticimg {
  position:relative;
  overflow:hidden;
  height:200px;
  margin-bottom:12px;
  clear:both;
}

.shop {
  margin-right:12px;
  margin-bottom:12px;
  width:90px;
  float:left;
}

/* PHOTO CAPTIONS */
.slideshow-text {
  font-family: 'TradeGothicLTCom-BdCn20', sans-serif;
  color:#FDFCD9;
  position:absolute;
  font-size:18pt;
  padding:12px;
  background-color: rgba(0, 0, 0, 0.6); /* for overlay */
  width:380px;
  -webkit-font-smoothing: subpixel-antialiased
}

@media only screen and (max-device-width:480px) {
    .slideshow-text {
        width:95%;
    }
    
    div.slideshow img {
        min-width:0px;
        max-width:100%;
    }
    
    div.slideshow.frontpage img {
        min-height:402px;
        max-width:none;
    }
    
    div.slideshow, div.slideshow.frontpage {
        width:100%;
        height:402px;
    }
}

/* FOOTER */

#footer {
  border-top:1px solid #595A5B;
  clear:both;
}

#footer div > a:hover, #footer div > a:hover, .inline-a:hover {
  color:#FDFCD9;
}

#footer > div {
    text-align:center;
    display:inline-block;
    padding-right:20px;
    padding-left:20px;
}

/* SOCIAL */

#footer ul {
      text-align:center;
      padding:0;
}

#footer li {
    display:inline-block;
    text-align:center;
    padding-bottom:20px;
}

#footer div > p {
    margin-bottom:10px;
}

#footer div {
    width:300px;
}

#footer .social ul {
    padding:0;
    margin:0;
}

#footer .social {
  display: inline-block;
}

#footer .social li{
  list-style-type:none;
  display:inline;
}

.featurelink {
  color:#FDFCD9;
}

.med-left-img {
  width:300px;
  float:left;
  padding-right:20px;
  padding-bottom:20px;
}

.med-left-img.last {
  padding-right:0px;
}

.lower-h {
  padding-top:28px;
}

/* ADDRESS AND HOURS */
#address {
  float:left;
  padding-right:150px;
}

#hours {
  float:left;
}

#hours, #address {
  margin-top:12px;
  margin-bottom:12px;
}