---
---
@import url('{{ site.baseurl }}/webfonts/MyFontsWebfontsKit.css');
@import url('//fonts.googleapis.com/css?family=Montserrat:400,700');

body {
  background-color:black;
  color:#FDFCD9;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration:none;
  color:#C41130;
}

#container {
  display:block;
  width:940px;
  margin-right:auto;
  margin-left:auto;
}

/* Header */

#header {
  height:100px;
}

#header .social ul {
  padding:0;
  margin:0;
}

#logo {
  text-align:center;
  width:545px;
  float:left;
}

#logo img {
  width: 200px;
  position: absolute;
  margin-left: 100px;
  z-index:20;
}

#header .right .social {
  display: block;
  float: left;
  margin-top: 50px;
  margin-left: 689px;
}

#header .social li{
  list-style-type:none;
  display:inline;
}

/* Navigation */

#navigation {
  display:block;
  width:100%;
}

#navigation ul {
  text-align:center;
  border-bottom:1px solid #595A5B;
  padding-left:0px;
}

#navigation li {
  display:inline-block;
  text-align:center;
  padding-bottom:12px;
}

#navigation li:last-child {
  border-right:0;
}

#navigation li a:hover {
  color:#FDFCD9;
}

a.featurelink:hover {
  color:#FDFCD9;
}

#navigation a {
  padding-left:20px;
  padding-right:20px;
  padding-bottom:12px;
  padding-top:12px;
}

/*to make room for the logo in the middle of page*/

#navigation a.middle1 {
  padding-right:100px;
}

#navigation a.middle2 {
  padding-left:100px;
}

/* content */

h1 {
  color:#C41130;
  padding:0;
  margin:0;
  margin-bottom:12px;
  font-family: 'TradeGothicLTCom-BdCn20', sans-serif;
}

#col1 {
  /*display:inline-block;*/
  display:block;
  vertical-align:top;
  padding-top:15px;
  padding-right:15px;
  padding-left:15px;
  padding-bottom:8px;
  width:300px;
  text-transform:uppercase;
  font-family: 'TradeGothicLTCom-BdCn20', sans-serif;
  position:absolute; /* for overlay */
  z-index:20;
  background-color: rgba(0, 0, 0, 0.6); /* for overlay */
  margin:10px;
  left:1;
}

hr {
  border:none;
  border-top: 1px solid #595A5B;
}

/* Google Calender Events */

#gcal-events {
  margin-top:12px;
  width:540px;
  float:left;
  overflow-y:scroll;
  height:470px;
}

.event {
    display:block;
    padding:5px;
    /*height:100%;*/
    vertical-align:top;
    font-weight:400;
}

.event-title {
    font-weight:normal;
    text-transform:uppercase;
    float:left;
    color:#C41130;
    font-size:14pt;
    font-family: 'TradeGothicLTCom-BdCn20', sans-serif;
    letter-spacing:1px;
}

.event-date {
  clear:both;
}

.event-content {
    padding-left:15px;
    clear:both;
}

.event:first-child {
    border:1px solid #595A5B;
}

.cal-links {
  margin-left:18px;
}

.cal-links.first {
  margin-left:0px;
}

a.cal-links:hover {
  color:#FDFCD9;
}

/* menu */

img.fullwidth {
  width:100%;
}

.feature {
  color:#C41130;
  font-size:12pt;
  margin-bottom:15px;
  border-bottom:1px solid #595A5B;
  padding-bottom:15px;
  padding-top:30px;
}

/* sideimage slideshow */

h2 {
  padding:0;
  margin:0;
  display:inline;
  font-size:18pt;
  font-style:italic;
  letter-spacing:1px;
  font-weight:normal;
  font-family: 'TradeGothicLTCom-BdCn20', sans-serif;
}

div.slideshow {
  width:400px;
  height:500px;
  overflow:hidden;
  float:left;
  position:relative;
  left:0;
  margin-bottom:20px;
}

div.slideshow img {
  width:380px;
  position:absolute;
}

/*Frontpage slideshow */

div.slideshow.frontpage img {
  width:940px;
  min-height:402px;
}

div.slideshow.frontpage {
  width:940px;
  height:402px;
}

.right p, .right img {
  width:940px;
  margin:0;
  padding:0;
  padding-bottom:12px;
}

.right img {
    width:540px;
    margin-bottom:12px;
    margin-right:auto;
    margin-left:auto;
}

div.staticimg {
  position:relative;
  overflow:hidden;
  height:200px;
  margin-bottom:12px;
  clear:both;
}

.shop {
  margin-right:12px;
  margin-bottom:12px;
  width:90px;
  float:left;
}

/* footer */

#footer {
  border-top:1px solid #595A5B;
  padding-top:15px;
  padding-bottom:15px;
  margin-top:20px;
  clear:both;
}

#right-credit {
  float:right;
  width:750px;
  padding-bottom:50px;
  text-align:right;
}

#left-credit {
  float:left;
  text-align:left;
}

#right-credit a:hover, #left-credit a:hover, .inline-a:hover {
  color:#FDFCD9;
}

#left-credit.bottom-credit {
  margin-top:12px;
  margin-bottom:12px;
}

.featurelink {
  color:#FDFCD9;
}

/*.scroll {
  overflow:scroll;
  height:480px;
}*/

.med-left-img {
  width:300px;
  float:left;
  padding-right:20px;
  padding-bottom:20px;
}

.med-left-img.last {
  padding-right:0px;
}

.lower-h {
  padding-top:28px;
}

/*Address and hours */
#address {
  float:left;
  padding-right:150px;
}

#hours {
  float:left;
}

#hours, #address {
  margin-top:12px;
  margin-bottom:12px;
}

/* photo captions */
.slideshow-text {
  font-family: 'TradeGothicLTCom-BdCn20', sans-serif;
  color:#FDFCD9;
  position:absolute;
  font-size:18pt;
  padding:12px;
  background-color: rgba(0, 0, 0, 0.6); /* for overlay */
  width:380px;
  -webkit-font-smoothing: subpixel-antialiased
}