<div id="footer">
    <ul>
    <li>
        <div>
        <p>Join our e-mail list</p>
        <a href="http://visitor.r20.constantcontact.com/manage/optin/ea?v=001jarSHX2McaRFPSkJG_EDyA%3D%3D">Subscribe &rsaquo;</a>
        </div>
    </li>
    
    <li>
        <div>
        <p>Book our Piaggio Ape</p>
        <a href="{{ site.baseurl }}/mobile/"> Learn More &rsaquo;</a>
        </div>
    </li>


    <li>
        {% include social.html %}
    </li>
    
    <li>
        <div id="credit">
        <p>Website created by</p>
        <a href="http://jmv.me/" target="_blank">Julia Van Cleve &rsaquo;</a>
        </div>
    </li>

</ul>

</div>