<script type="text/javascript" src="{{ site.baseurl }}/js/moment.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/moment-timezone.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/gcal.js"></script>
<script type="text/javascript">
  
function handleUpcoming(eventlist) {
  // Output only the first event
  GCalOutput(eventlist.slice(0,1), $('#featured-event'));
  
  var txt = $('.event-title');
  var txt2 = $('.event-date');
  
  $("#featured-event").text(txt.text());
  $("#featured-date").text(txt2.text());
  
  // When the fonts are loaded we can apply the slab text effect
  $(document).on('all-fonts-active', function () {
    $('#featured-event').slabText({
      'fontRatio': 1.5,
      'noResizeEvent': true,
    });
  });
  
  // In case the fonts are already loaded, trigger that event once
  if ($('html').hasClass('wf-active'))
    $(document).trigger('all-fonts-active');
}

$(document).ready(function() {
  GCalEvents("https://www.google.com/calendar/feeds/hkos1qnhl9mnmilvsct725ft1s%40group.calendar.google.com/public/basic?alt=json").then(handleUpcoming);
});
  
</script>
