---
title: Musica
layout: overlay
slideshow: Yes
images:
-
  image: slideshow/Adira.jpg
  caption: Adira Sharkey
-
  image: slideshow/BenH.jpg
  caption: Ben Henderson
-
  image: slideshow/Cado.jpg
  caption: Cado
-
  image: slideshow/garybrooker-cropped.jpg
  caption: Gary Brooker—Procol Harum
-
  image: slideshow/jonherington-cropped.jpg
  caption: Jon Herington—Steely Dan
-
  image: slideshow/Kavanaughs.jpg
  caption: Kavanaugh Brothers Celtic Experience!
-
  image: slideshow/TyreekTroyDavid.jpg
  caption: Tyreek, Troy Curtis, & David Knight
-
  image: slideshow/tangotrio.jpg
  caption: Paolozzi Tango Trio
-
  image: slideshow/BossaBlue.jpg
  caption: Bossa Blue
description: View our events calendar for live entertainment at Caffe Frascati.
---
<div class="feature">
<h1>Come join us</h1>
  <div><h2>Every Tuesday:</h2> Open Mic Night! All styles welcome. Happy Hour all night!<br/></div>
  <div><h2>Every Wednesday:</h2> Commedia! Comedy Night Open Mic!<br /></div>
  <div><h2>Every Thursday:</h2> Live Lit Writers' Open Mic! Poetry, stories and humor.<br /></div>
  <div><h2>1st Friday of the month:</h2> South First Friday Art Walk (starting at 8 pm) and Caffe Frascati Opera Night!<br/></div>
   <div><h2>3rd Friday of the month:</h2> Bossa Blue — Brazilian Music Night!<br/></div>
  <div><h2>1st Saturday of the month:</h2> Kavanaugh Brothers Celtic Experience! (starting at 8 pm)</br></div>
</div>

<a class="cal-links first" href="webcal://www.google.com/calendar/ical/hkos1qnhl9mnmilvsct725ft1s%40group.calendar.google.com/public/basic.ics">Subscribe &rsaquo; </a>

<a class="cal-links" href="https://www.google.com/calendar/embed?src=hkos1qnhl9mnmilvsct725ft1s%40group.calendar.google.com&ctz=America/Los_Angeles" target="_blank">View Calendar &rsaquo; </a>

{% include slideshow.html %}

<div id="gcal-events"></div>

{% include gcal.html %}
