<!DOCTYPE html>
<html>
<head>
  
  <meta charset="UTF-8">
  {% if page.description %}
  <meta name="description" content="{{ page.description }}">
  {% endif %}
  
  <link rel="stylesheet" type="text/css" href="/style.css">
  <link rel="stylesheet" type="text/css" href="/webfonts/slabtext.css">  
  <link rel="stylesheet" type="text/css" href="/webfonts/socicon.css">
    
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  
  {% if page.slideshow or (page.sideimages | size) > 1 %}
  <script type="text/javascript" src="/js/slideshow.js"></script>
  {% endif %}
  

  <!-- <script type="text/javascript" src="/js/bigtext.js"></script> -->
  <script type="text/javascript" src="/js/jquery.slabtext.js"></script>
  
  <title>{{ page.title }}</title>
  
</head>

<body>
  <div id="container">
    {% include header.html %}
    <div id="banner">
      <img src="../images/cafe1.jpg" />
    </div>
    {% include navigation.html %}
    <div id="content">
      {{ content }}
    </div>
    
    {% include footer.html %}
    </div>
</body>

</html>